body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  background-color: white;
  height: auto;
  min-height: 100vh;
  width: 40%;
  margin: auto;
  padding: 30px;
  box-shadow: 2px 2px 20px #ececec;
}

.app-title {
  margin: 0;
  margin-bottom: 30px;
}

.task-item {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 40%;
  bottom: 2rem;
}